h1 {background-color:#d93030;}
p {background-color:#e0ffff;}
div {background-color:#b0c4de;}
body {
    background-color:#d0e4fe;
}
h1 {
    color:orange;
    text-align:center;
}
p {
    font-family:"Times New Roman";
    font-size:20px;
}
hr {color:sienna;}
p {margin-left:20px;}
/*
body {background-image:url("/RelatedPics/gallaxycollapse.jpg");}
*/